name: Deploy on Changes to Next.js Apps
on:
  # pull_request:
  #   types: [opened, reopened]
  push:
    branches:
      - main
    paths:
      - 'apps/app/**'
      - 'apps/app/*'
      - 'apps/landing/**'
      - 'apps/landing/*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Necessary for comparing changes to past commits

      - name: Get changed packages
        id: turborepoChanges
        # uses: 94726/action-turborepo-changes@v1.0.0
        uses: 94726/action-turborepo-changes@2f392aee0d6b90803c0551ea774c254451fd92be

      - name: Deploy app to dev.domain.com
        if: contains(fromJson(steps.turborepoChanges.outputs.package_names), 'app')
        run: curl https://api.vercel.com/v1/integrations/deploy/prj_pIjgANGuuYB6DTezAaPiHYcBJerb/5PICX8gHCa

      - name: Deploy landing to domain.com
        if: contains(fromJson(steps.turborepoChanges.outputs.package_names), 'landing')
        run: curl https://api.vercel.com/v1/integrations/deploy/prj_ZuS0TyO3wfg89YoINFUPuyqyTvl9/tMNpP6nB0Q
