name: Push to any - 1 Job
run-name: Lint, Build, Test

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

env:
  # To use Remote Caching, uncomment the next lines and follow the steps below.
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}
  TURBO_REMOTE_ONLY: true
  NEXT_PUBLIC_FIREBASE_API_KEY: ${{ secrets.NEXT_PUBLIC_FIREBASE_API_KEY }}
  NEXT_PUBLIC_MAPS_API_KEY: ${{ secrets.NEXT_PUBLIC_MAPS_API_KEY }}

jobs:
  checkout_install_lint_build_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 2
      - name: Install Node.js v20.10
        uses: actions/setup-node@v4.0.1
        with:
          node-version: '20.10'
      - name: Get node version
        id: node
        run: |
          echo "node_version=$(node -v)" >> $GITHUB_OUTPUT
      - name: Get node_modules cache
        uses: actions/cache@v4.0.0
        # id: node_modules
        with:
          path: |
            **/node_modules
          # Adding node version as cache key
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}-${{ steps.node.outputs.node_version }}

      - name: Install TurboRepo CLI
        run: yarn global add turbo
      - name: Install dependencies
        run: yarn
      - name: Lint, Build, Test
        # run: turbo run lint --filter="...[HEAD^1]"
        run: |
          turbo run lint
          turbo run build
          turbo run test
