name: Deploy on Release
run-name: Deploy app-main on release

on:
  release:
    branches:
      - main
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # - name: Determine changes
      #   id: diff
      #   run: |
      #     diff=$(git diff --name-only HEAD $(git merge-base HEAD ${{ github.base_ref }}))
      #     echo "Changes detected: $diff"
      #     echo "diff=$diff" >> $GITHUB_ENV


      # - name: Get changed packages
      #   id: turborepoChanges
      #   uses: 94726/action-turborepo-changes@2f392aee0d6b90803c0551ea774c254451fd92be

      - name: Deploy app to app.domain.com
        # if: contains(fromJson(steps.turborepoChanges.outputs.package_names), 'app')

        run: curl https://api.vercel.com/v1/integrations/deploy/prj_av4PjWmsxA1DHzvahUmmlBUTHmWC/VWIWKLLmEv
        
      # - name: Deploy app changes
      #   if: ${{ contains(env.diff, 'app/app') }}
      #   run: curl https://api.vercel.com/v1/integrations/deploy/prj_hoYbmZnRmobnr5K9Dok65mmki7k7/oZFxMHUSsd
